h1= title
p Welcome  #{title}
div#battleship
div#chat
script(src='/javascripts/battleship.js')
script(type='text/javascript').
   
    var game=new Battleship();
    /*
    game.render('battleship');
    for (var i = 0; i< Battleship.size;i++)
    {
        for (var j=0;j<Battleship.size;j++)
        {
            if(game.botBoard[i][j]==3)
            {
                document.getElementsByClassName('bot-'+i+'-'+i)[0].style.backgroundColor='black'
            }
        }
    }
    */
    function fire(tag)
    {   
        console.log('fire');
        var x= tag.className.split(' ')[0].split('-')[1];
        var y= tag.className.split(' ')[0].split('-')[2];
        var player='#{title}';
        console.log('HERE'+player+'-'+x+'-'+y);
        aj('http://vm-0.jjw9128.kd.io:3000/fire/'+player+'/'+x+'/'+y,function(req){
            console.log(req);
            if (req.readyState==4 && req.status==200)
            {
                var data=JSON.parse(req.responseText);
                console.log('data here');
                console.log(data);
                game.getHitConfirm(data);
                game.render('battleship');
            }
        });
        
    }
    var socket;
    function init(){
        console.log('init');
        socket=io.connect('http://vm-0.jjw9128.kd.io:3000');
        socket.on('Welcome',function(data){
            console.log('recieved Welcome');
            socket.emit('Register',{id:"#{title}".slice(-1)});
        });
        socket.on('Game',function(data){
            var proto=game.__proto__;
            game=data.game;
            game.__proto__=proto;
            console.log(data);
            game.render('battleship');
        });

    }
    function aj(url,handler)
    {
        //code form w3schools.com
        var xmlhttp;

        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function(){handler(xmlhttp);}
      
        xmlhttp.open("GET",url,true);
        xmlhttp.send();
    }
    
   
   
    
